body {
font-size: 20px;
margin: 40px;
}
h1 {
font-size: 25px ;
}
h2 {
font-size: 25px;
}

img {
    max-width: 100%;
    display: flex;
    flex-flow: wrap column;
}

figure {
    margin: 30px;
}
 @media screen and (max-width:600px) {
     body {
         background-color: black;
         color: white;
         font-size: 15px;
         margin-left: 0px;
    }

    header {
        display: flex;
        justify-content: center;
    }
    section {
        display: flex;
        flex-flow:  column;
        margin-left: 20px;
        }
        main {
            width: 100%;
            display: flex;
            flex-flow:  wrap;
            justify-content: center;
     text-align: center;

    
        }
    figure {

     margin: auto 0;
        width: 40%;
        float:left;
    }
}
 
